<!doctype html>
<html lang="en" ng-app="uikit-maker">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>UI kit maker</title>

        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/layout.css" />
        <link rel="stylesheet" href="css/components.css" />

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script src="js/vendors/localStorageModule.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/modules.js"></script>
    </head>
    <body ng-controller="Main">

        <header id="main-header" ng-class="{active: mainNavigation.on}">
            <h1><a href="/">uikit maker 0.0.1</a></h1>
            <ul id="main-navigation" class="toolbar">
                <li id="menu" ng-click="toggleNavigation()" title="Menu" class="icon-menu"></li>
                <li ng-repeat="navigationElem in mainNavigation" ng-click="navigationElem.disabled || setIndex($index)" title="{{navigationElem.title}}" class="{{navigationElem.icon}}" ng-class="{active: mainNavigation.active == $index, disabled: navigationElem.disabled}"></li>
            </ul>
            <ul id="contact-navigation">
                <li><a class="icon-github" href="https://github.com/leonuh/uikm"></a></li>
            </ul>
        </header>

        <article id="main-content">
            <h1>UI kit generator to handle huge css components</h1>
            <ul>
                <li>Generate UI kit from css</li>
                <li>Easy to maintain css components if you work in big teams</li>
                <li>Less css - trash code</li>
                <li>Fast representation for preview requests</li>
                <li>Help to keep consistent with the team and yourself</li>
            </ul>
        </article>

        <!-- PAGES -->
        <div id="pages" ng-class="{active: mainNavigation.on, menuActive: mainNavigation.active != -1}">
            <section class="page" ng-class="{active: mainNavigation.active == 0}">
                <div class="css-upload" dropzone dropcssbase>
                    <h1 class="dropzone">Drop CSS files for base style</h1>
                    <ul>
                        <li ng-repeat="file in cssbasefiles">
                            {{file.name}}
                        </li>
                    </ul>           
                </div>
                <p>You can specify selectors settings in css, otherwise your generated contents will be empty.</p>
                <div>
                    <ul>
                        <li><strong>uikit-amount</strong> <small>(Default: 1)</small> Number of rendering</li>
                        <li><strong>uikit-content</strong> <small>(Default: "")</small> Generated markup's content (innerHTML)</li>
                    </ul>
                    <p>Try it:</p>                    
                    <ol>
                        <li><a download="demo.css" href="css/example.css">Download</a> the demo file</li>
                        <li>Drop it to the box</li>
                        <li>Use the wand and Generate UI</li>
                    </ol>
                </div>
                <div class="css-upload" dropzone dropcssmain>
                    <h1 class="dropzone">Drop CSS files for UI kit</h1>
                    <ul>
                        <li ng-repeat="file in cssmainfiles">
                            {{file.name}}
                        </li>
                    </ul>           
                </div>          
            </section>
            
            <section ng-controller="Selectors" class="page" ng-class="{active: mainNavigation.active == 1}">

                <h1>Config</h1>

                <fieldset>
                    <legend ng-bind="submit.legend"></legend>
                    <form ng-submit="process()">
                        <label for="add-selector" class="field-label">Selector</label>
                        <input focus="formSubmited" id="add-selector" ng-model="fieldSelector" class="field" type="text" required="required" />
                        <label for="add-amount" class="field-label">Rendered amount</label>
                        <input id="add-amount" ng-model="fieldAmount" class="field" type="number" required="required" />
                        <label for ="add-content" class="field-label">Content html</label>
                        <input id="add-content" ng-model="fieldContent" class="field" type="text" />                
                        <button class="emphasised" type="submit" ng-bind="submit.message"></button>
                    </form>
                </fieldset>

                <table>
                    <thead>
                        <tr>
                            <th>Selector</th>
                            <th>Rendered amount</th>
                            <th>Content (html)</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="selector in selectors">
                            <td>{{selector.name}}</td>
                            <td>{{selector.amount}}</td>
                            <td>{{selector.content}}</td>
                            <td class="edit-cell"><a class="btn" href="#" ng-click="edit($index)">Edit</a></td>
                            <td class="delete-cell"><a class="btn" href="#" ng-click="delete($index)">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section generatekit class="generated-page page" ng-class="{active: mainNavigation.active == 2}"></section>

        </div>

        <footer id="main-footer">
            <p>The page is being built for modern browsers</p>
            <p>This work is licensed under http://creativecommons.org/licenses/by/3.0</p>
        </footer>
    </body>
</html>